@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&family=Poppins:wght@500&display=swap');

* {
    box-sizing: content-box;
    margin:0;
    padding:0;
}

.section__mwhome {
  animation: banner 15s infinite linear alternate;
  background-size: cover;
  height: 800px;
}

@keyframes banner {
  0%,
  100%{
    background-image: url(../img/bannerapli.png);
  }
  }

.mw-homebanner {
  z-index: 1;
  width: 92.8vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/*Se definen los colores a utilizar durante la plantilla*/
:root { 
    --red: #EF4147;
    --pink: #F05376;
    --pink2: #F7ABB2;
    --beige: #E8B77E;
    --beige2: #E7CFB2;
    --black2: #3333335f;
    --black2o3: rgb(51, 51, 51, 0.03);
    --redo85: rgba(239, 65, 71, 0.85);
}

/* Aquí empiezan arreglos del sidebar  */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: inline-flex;
}

.sidebar {
    width: 120px;
    max-width: 120px;
    height: 100vh;
    background-color: #F7ABB2;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.iconoHover {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea verticalmente en el centro */
    align-items: center;
    margin-top: 25px;
    box-sizing: border-box;
    
}

#jaz img{
    width: 65px;
    height: 65px;
    border-radius: 1000px;
    cursor: pointer;
}

#prueba img{
    width: 55px;
    height: 55px;
    cursor: pointer;
}


.iconoHover i {
    font-size: 50px;
    color: #fff;
    
}


.iconoHover:hover {
    background-color: #F05376;
}
/* Aquí terminan arreglos del sidebar  */


.card{
  margin-top: 2%;
    margin-left: 25%;
    width: 45%;
    padding: 5px 0;
    height: 80%;
    overflow: hidden;
    background: linear-gradient(180deg, var(--pink2) 0%, var(--beige2) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 1px;
    /* Aplica una sombra al elemento utilizando la propiedad box-shadow */
  box-shadow: 0 0 6px var(--red);
  /*
   - 0 0: Desplazamiento horizontal y vertical de la sombra, en este caso, no hay desplazamiento (sombra centrada).
   - 6px: Radio de difuminado de la sombra, creando un efecto suave en un área de 6 píxeles alrededor del elemento.
   - var(--color_shadow): Color de la sombra obtenido de la variable CSS --color_shadow.
  */
  
  }

  .card__img{
    margin-top: 4%;
    width: 95%;
    height: 290px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 13px;
  }

  .cards__text{
    text-align: left;
    width: 90%;
    margin:0 auto;
    font-size: 20px;
  }

  .card__list{
    color: var(--gold2);
    font-weight: 700;
    /* Establece márgenes en las direcciones superior, derecha, inferior e izquierda del elemento */
  margin: 15px 0 12px;
  /*
   - 25px: Margen superior de 25 píxeles.
   - 0: No se aplican márgenes en los lados derecho e izquierdo.
   - 12px: Margen inferior de 12 píxeles.
  */
  
    font-size: 50px;
  }
  
  
  .card__title{
    font-size: 32px;
    color:#EF4147;
    margin-bottom: 11px;

  }

  .card .card__title .point{
    color: #5d5c5c88;
  }

  .card_button {
    margin-top: 9%;
    margin-bottom: 15%;
    background: linear-gradient(180deg, #ecbcee 0%, #f6f4f6 100%); 
    border-radius: 6px;
    /* text-decoration: none;*/
     width: 100%;
    color: #EF4147;
    text-align: center;
    margin-right: 60%;
  display: flex;
	justify-content: center;
	align-items: center;
    padding: 3px 0; 
  }

  .icons .buttons {
	margin-top: 0;
	display: flex;
	align-items: center;
    margin-left: 34%;
}

.icons .buttons .no i {
	color: #EF4147;
	font-size: 45px;
}

.icons .buttons .heart i {
	color:#EF4147;
	font-size: 45px;
}

.icons .buttons .no,
.icons .buttons .heart {
  cursor: pointer;
	background-color: #fff;
	width: 80px;
	height: 80px;
    background: linear-gradient(180deg, #ecbcee 0%, #e1d2e1 100%); 
	box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 70px;
	margin: 15px;
	transition: 0.2s transform;
    margin-right: 100px;
}

.icons .buttons .no:hover,
.icons .buttons .heart:hover {
	transform: scale(1.1);
}

.otro1 {
  display: flex;
  margin: 0;
}

.otro2{
  margin: 0 0 0 5%;
}


/*Responsive*/
@media screen and (max-width: 1200px) {

  
  .card {
    margin-left: 27%;
    width: 43%;
    height: 80%;
    margin-top: 1px;
  }

  .card_button{
    margin-top: 0;
    margin-bottom: 5%;
  }
  
  .icons .buttons{
    margin-left: 30%;
    margin-top: 0;
  }
  }

  @media screen and (max-width: 900px) {
   
    .card {
      margin-left: 20%;
      width: 53%;
      height: 75%;
      margin-top: 5%;
    }
    
    .card__img{
      height: 200px; /* Cambia la altura a automática para que se ajuste al contenido */
    }
    
    .icons .buttons{
      margin-left: 27%;
    }

    .icons .buttons .no,
    .icons .buttons .heart {
      width: 70px;
      height: 70px;
    }

    .icons .buttons .no i,
    .icons .buttons .heart i {
      font-size: 40px;
    }
  }

/*Responsive card*/
@media screen and (max-width: 768px) {

.card {
  margin-left: 18%;
  width: 57%;
  height: 70%;
  margin-top: 10%;
}

.card_button {
  margin-top: 10%;
  margin-bottom: 15%;
}

.card__img{
  height: 200px; /* Cambia la altura a automática para que se ajuste al contenido */
}

    .icons .buttons .no,
    .icons .buttons .heart {
      margin-right: 60px;
    }

.icons .buttons{
  margin-left: 25%;
}

}

@media screen and (max-width: 600px) {
  
  .card {
    margin-left: 13%;
    width: 70%;
    height: 74%;
    margin-top: 12%;
  }
  
  .card__img{
    height: 200px; /* Cambia la altura a automática para que se ajuste al contenido */
  }
  
  .icons .buttons{
    margin-left: 27%;
  }
    .icons .buttons .no,
    .icons .buttons .star,
    .icons .buttons .heart {
      margin: 12px;

    }

    .card_button{
      margin-top: 10px;
      margin-bottom: 20px;
    }

  }

  @media screen and (max-width: 500px) {

    .card {
      margin-left: 10%;
      width: 75%;
      height: 73%;
      margin-top: 12%;
    }
    
    .card__img{
      height: 200px;
      margin-left: 7px; /* Cambia la altura a automática para que se ajuste al contenido */
    }
    
    .icons .buttons{
      margin-left: 23%;
    }
    
    .card__title{
      font-size: 28px;
    }

    .cards__text {
      font-size: 17px;
    }

    }

  @media screen and (max-width: 400px) {
    
    .card {
      margin-left: 9%;
      width: 84%;
      height: 75%;
      margin-top: 9%;
    }
    
    .card__img{
      height: 200px; /* Cambia la altura a automática para que se ajuste al contenido */
    }
    
    .icons .buttons{
      margin-left: 20%;
    }
  }
