@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&family=Poppins:wght@500&display=swap');

* {
    box-sizing: content-box;
    margin:0;
    padding:0;
}

/*Se definen los colores a utilizar durante la plantilla*/
:root { 
    --red: #EF4147;
    --pink: #F05376;
    --pink2: #F7ABB2;
    --beige: #E8B77E;
    --beige2: #E7CFB2;
    --black2: #333333;
    --black2o3: rgb(51, 51, 51, 0.03);
    --redo85: rgba(239, 65, 71, 0.85);
}

/*Cuerpo del html*/
body {
    font-family: 'Montserrat';
    width: 100%; 
}


/*Barra de navegación*/
.mw-head { 
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
}


.mw-navcontainer {
    display: flex;
    height:3.5%;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background: var(--pink2);
    color: white;
    width: 100%;
    position: fixed;
    height: 25px;
    
}

/* contenedor del encabezado (DIV) */
.mw-navcontainer div{
    display: flex;
    margin:5px 8px;
    padding:10px;
}

/*Imagen mewoof*/
.mw-navcontainer img{
    display: flex;
    align-items: center;
    width: 5%;
}

/*Nombre mewoof encabezado*/
.mw-navcontainer h1{
    display: flex;
    padding: 10px;
    align-content: center;
    color: var(--redo85);
    font-family: futura;
    font-size: 30px;
}

/*Contenedor de img mewoof*/
.mw-navcontainer-logo {
    margin: 10px;
    display: flex;
    align-items: center;
}

/*Menu hamburguesa*/
.mw-navcontainer-menu {
    display:flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    margin: 10px;
    padding:10px;
    left:0

}

/*Listado de navegación (puntos)*/
.mw-navcontainer-menu li {
    list-style: none;
}

/*Enlaces de navegación*/
.mw-navcontainer-menu a {
    text-decoration: none;
    color: var(--black2);
    font-size: 15px;
    margin: 20px;
    
}

/*Establece un segundo estado a los enlaces de navegación*/
.mw-navcontainer-menu a:hover {
    font-size: 16px;
}

/*Enlace de navegación login*/
.login-modifier {
    color:white;
}

/*Botón hamburguesa*/
.toggle {
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 20px;
    display: none;
}


/* ABOUT */


.mv-aboutflex {
    display: flex;
    flex-direction: column;
}

/*Contenedor Misión, Visión, Valores*/
.mw-aboutcontainer1 {
    display: flex;
    padding: 2%;
    justify-content: center;
    font-size: 14%;
    color:var(--black2);
    
}

/*Secciones de DIV Misión, Visión, Valores*/
.mw-aboutcontainer1 div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:3%;
    margin:5%;
    width: 20%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    /* overflow: scroll; */
}

/*TITULOS Misión, Visión, Valores*/
.mw-aboutcontainer1 h3 {
    text-align: center;
    margin: 2px 0 25px;
    font-size: 30px;
    color: var(--pink);
}

/*PARRAFOS Misión, Visión, Valores*/
.mw-aboutcontainer1 p {
    display: flex;
    text-align: justify;
    align-items: center;
    font-size: 15px;
    font-family:'Montserrat';
}

/*ABOUT US -TEAM*/

/*Contenedor tarjetas y meet our team*/
.mw-aboutcontainer2 {
    display: flex;
    flex-direction: column;
    height: auto;
}

/*Contenedor meet our team*/
.mw-aboutcontainer2-head {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Span del parrafo meet our team (MeWoof)*/
.mw-aboutcontainer2-head span{
    color: var(--black2);
    font-weight: bold;
}

/*Titulo meet our team*/
.mw-aboutcontainer2-head h3 {
    color: var(--red);
    font-size: 35px;
    margin: 3%;
}

/*Parrafo meet our team*/
.mw-aboutcontainer2-head p {
    color: var(--black2);
    font-size: 17px;
    font-family: 'Montserrat';
    letter-spacing: 0.2px;
    padding: 5px 80px; 
}

/*Contenedor tarjetas de equipo*/
.mw-aboutcontainer2-cards {
    display: flex;
    justify-content: center;
    height: auto;
    
}

.mw-teamcard {
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 3% 2%;
    height: 30%;
    width: 15%;
    font-size: 16px; 
    color: var(--black2);
    
}

/*Botones tarjetas ver más-ver menos*/
.mw-teamcard button{
    align-items: baseline;
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    width: 70%;
    height: 30px;
    background: var(--pink);
    color: white;
    font-family: 'poppins';
    font-size: 16px; 
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

/*Segundo estado de las tarjetas*/
.mw-teamcard button:hover {
    background-color: #FFC859;
    height: 40px ;
    font-size:20px;
}

/*Imganes (tarjetas)*/
.mw-teamcard img {
    border-radius: 1000px;
    height: 150px;
    margin:10px;
    box-shadow: 0px 6px 6px rgba(183, 181, 181, 0.5);
    border: none;
    
}

/*Titutlos de las tarjetas (nuestros nombres)*/
.mw-teamcard h4 {
    margin: 0px 0px 15px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    color: var(--pink);
}

/*Contenedor (img, nombres, parrafo)*/
.mw-cardhead {
    text-align: center;
}

.mw-cardhead p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

/*Div parrafo de las tarjetas*/
.mw-cardtext {
    text-align: justify;
    display: none;
    font-size: 15px;

}

.mw-teamcard:hover  {
    text-align: justify;
    color: var(--beige);
    display:flex;/**/
    /* flex-grow:0got ba.2;  */
    font-size: 16px;
    /* box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4); */
    
}

/*Button mostrar menos (tarjetas)*/
.mostrar-menos {
    display:none;
}

/*Responsive para el NAVEGADOR, SOBRE NOSOTROS, TARJETAS*/
/*1200 900 600 400*/
@media screen and (max-width: 1200px) {

    .mw-navcontainer h1 {
        font-size: 25px;
    }

    .mw-navcontainer img{
        width: 4.5%;
    }

    .mw-navcontainer-menu a {
        font-size: 12px;
        margin: 10px;
    }

    .mw-aboutcontainer1 p {
        font-size: 11px;
    }

    .mw-aboutcontainer1 h3 {
        font-size: 20px;
    }

    .mw-aboutcontainer2-head h3 {
        font-size: 25px;
    }
    
    .mw-aboutcontainer2-head p {
        font-size: 13px;
        text-align: center;
    }
    
    .mw-teamcard {
        font-size: 12px;
    }
    
    .mw-teamcard img {
        height: 105px;
    }
    
    .mw-teamcard h4 {
        font-size: 13px;
        font-weight: 1px;
    }

    .mw-teamcard button {
        height: 20px;
        font-size: 13px;
    }

    .mw-teamcard button:hover {
        height: 25px ;
        font-size:16px;
    }
  
    .mw-navcontainer-menu a:hover {
        font-size: 13px;
    }

    .mw-teamcard:hover {
        font-size: 14px;
    }
}

/*Responsive para el NAVEGADOR, SOBRE NOSOTROS, TARJETAS*/
@media screen and (max-width: 900px) {
   
    .mw-navcontainer h1 {
        font-size: 20px;
    }

    .mw-navcontainer img{
        width: 4%;
        margin: 0;
    }
    
    .mw-navcontainer-menu {
        left: 50px;
    }

    .mw-navcontainer-menu a {
        font-size: 11px;
        
    }

    .mw-aboutcontainer1 p {
        font-size: 10px;
    }

    .mw-aboutcontainer1 h3 {
        font-size: 18px;
    }

    .mw-aboutcontainer2-head p {
        font-size: 11px;
        text-align: center;
    }

    .mw-aboutcontainer2-cards {
        flex-wrap: wrap;
    }

    .mw-teamcard {
        font-size: 11px;
        width: 40%;
    }

    .mw-teamcard {
        font-size: 11px;
    }
    
    .mw-teamcard img {
        height: 80px;
    }
    
    .mw-teamcard h4 {
        font-size: 12px;
    
    }

    .mw-teamcard button {
        height: 17px;
        font-size: 11px;
    }

    .mw-teamcard button:hover {
        height: 21px ;
        font-size:12px;
    }

    .mw-navcontainer-menu a:hover {
    font-size: 11px;
    }

    .mw-teamcard:hover {
        font-size: 13px;
    }
    
}

/*Responsive para el NAVEGADOR, SOBRE NOSOTROS, TARJETAS*/
@media screen and (max-width: 768px) {

    .mw-navcontainer-menu {
        position: relative;
        flex-direction: column;
        margin-right: 20px;
        background-color:#888888 ;
        height: 80px;
        transition: left 0.30s;
        top: 65px;
        margin-right: 70px ;
    }

    .mw-navcontainer img{
        width: 6%;
        margin: 0;
    }
    

    .mw-navcontainer-menu a {
        font-size: 9px;
        margin: 10px;
    }
    
    .mw-aboutcontainer1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mw-aboutcontainer1 div {
        width: 80%
    }  

    .mw-aboutcontainer1 p {
        font-size: 9px;
    }

    .mw-aboutcontainer1 h3 {
        font-size: 18px;
    }

    .mw-aboutcontainer2-head h3 {
        font-size: 22px;
        margin-top: 30px;
    }

    .mw-aboutcontainer2-head p {
        font-size: 11px;
        text-align: center;
        margin-bottom: 20px;
        
    }
    
    .mw-aboutcontainer2-cards {
        flex-wrap: wrap;
    }

    .mw-teamcard {
        font-size: 11px;
        width: 40%;
    }
    
    .mw-teamcard img {
        height: 60px;
    }
    
    .mw-teamcard h4 {
        font-size: 12px;
    
    }

    .mw-teamcard button {
        height: 17px;
        font-size: 11px;
    }

    .mw-teamcard button:hover {
        height: 21px ;
        font-size:12px;
    }
  
    .mw-navcontainer-menu a:hover {
    font-size: 11px;
    }

    .mw-teamcard:hover {
        font-size: 13px;
    }

    .toggle {
        position: relative;
        display: block;
        left: 25%;
        cursor: pointer
    }

    .nav-menu-visible {
        left:100%
    }

}

@media screen and (max-width: 400px) {

    .mw-navcontainer-menu {
        margin-right: 80px;
    }
}

/* Sección de contáctenos*/
.contactUs{
    margin-top: 100px;
    background-color: var(--black2o3);
}
    /*Encabezado de contáctenos*/
        .contactHeader h2{
            padding-top: 30px;
            color: var(--red);
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
        }

        .contactHeader p{
            color: var(--black2);
            font-size: 20px;
            text-align: center;
            margin-bottom: 60px;
            font-weight: 100;
        }
    /*Fin encabezado de contáctenos*/

    /*Formulario*/
        .contactInf{
            max-width: 715px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            height: 270px;
        }

        .contactInf label{
            text-align: left;
            font-size: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
        }

        .contactInf input{
            margin-top: 0;
            margin-bottom: 15px;
            height: 10px;
            border-radius: 20px;
            border: none;
            border-bottom: 5px solid var(--pink2);
            font-size: 16px;
            padding: 20px;
            color: var(--black2);
            outline: 0;
        }

        .contactInf button {
            height: 32px;
            background-color: var(--pink);
            color: white;
            border: none;
            border-radius: 180px;
            font-size: 16px;
            cursor: pointer;
            margin-left: auto;
            width: 151px;
        }
    /*Fin formulario*/

    /*Iconos*/
        .socialMedia {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .iconLink {
            font-size: 75px;
            color: var(--beige2);
        }
        
        .socialMediaName {
            margin-top: 5px;
            margin-bottom: 50px;
            font-size: 15px;
            font-weight: 100;
        }
    /*Fin iconos*/
/* Fin sección de contáctenos*/

/* Sección footer*/
        .footer{
            background-color: var(--pink2);
            height: 40px;
            color: white;
            padding-left: 20px;
            padding-top: 15px;
        }
/* Fin sección footer*/

/* Diseño responsivo contáctenos sección*/
@media (max-width: 768px) {
    .contactHeader h2{
        font-size: 20px; /*Tamaño titulo*/
    }
    .contactHeader p{
        font-size: 15px; /*Tamaño frase*/
    }
    .contactInf { /*Disminuir espacio entre formulario e iconos*/
        height: 220px;
    }
    .contactInf label{ /*Indicación formulario */
        font-size: 13px;
        margin-left: 30px;
    }
    .contactInf input{ /*Inputs*/
        height: 5px;
        font-size: 13px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .contactInf button { /* Botón*/
        height: 26px;
        font-size: 12px;
        width: 110px;
        margin-right: 25px;
    }
    .iconLink { /*Tamaño iconos*/
        font-size: 45px;
    }
    .socialMediaName { /*Tamaño nombre redes*/
       font-size: 9px;
    }
    .footer{ /*Footer letra*/
        padding-top: 20px;
        font-size: 10px;
    }
}
/* Fin diseño responsivo contáctenos sección*/